
@import '_normalize';
@import '_mixins';
@import '_vars';
@import '_slick';

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
  font: 400 19px/1.5 $font-stack;
  color: $font-color;
  transition: all 0.25s ease;
}

.header {
	height: 100vh;
	background-color: #40016f;
}

.container {
	max-width: 1170px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	
	&--row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&--col {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.nav {
	width: 100%;
	height: 80px;
	position: fixed;
	z-index: 5;
	background-color: $primary-color;
}

.menu {
	display: flex;
	font-size: 0;

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 150px;
		height: 80px;
		text-align: center;
		transition: all 0.25s ease;
		&:after{
			content: "";
			border-top: 10px solid transparent;
		    border-left: 75px solid transparent;
		    border-right: 80px solid transparent;
		    height: 0;
		    width: 1px;
		    position: absolute;
		    left: 0px;
		    bottom: -10px;

		}
		&:hover,
		&:focus,
		&:active {		 
			background-color: $accent-color;
			
			&:after {
				border-top: 10px solid $accent-color;
			}
			svg {
			 	stroke: $primary-color; 
			 	fill: $primary-color; 
			 }
			span {
			 	color: $primary-color;
			 }
		}
	}
	&__link {
		font-size: 13px;
		text-transform: uppercase;
		color: $font-color;
		text-decoration: none;
		
	}
   svg {
		display: block;
   		margin: 0 auto;
		}
}

.light {
	color: $primary-color;
}

.hero-title {
	font-size: 100px;
	text-transform: uppercase;
	font-weight: 800;
	line-height: 0.9;
	margin: 0 0 25px;
}

.title {
	font-size: 80px;
	text-transform: uppercase;
	color: $accent-color;
	font-weight: 800;
	line-height: 1;
}

.subtitle {
	font-size: 38px;
	text-transform: uppercase;
}

.about{
	height: 100%;
	max-width: 60%;
	padding-bottom: 10%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}

.text {
	font-size: 19px;
	font-weight: 700;
	margin: 0;
	&--center {
		text-align: center;
	}
	&--norm {
		font-weight: 400;
		margin-bottom: 20px;
		font-size: 16px;
	}
}

.places {
	padding: 115px 0;
	&__header {
		display: flex;
		&-item {
			flex-basis: 50%;
			max-width: 50%;
		}
	}
}

.gallery {
	width: 100%;
	margin-top: 110px;
	margin-bottom: 40px;
	display: flex;
	flex-wrap: wrap;
	&__item {
		max-width: 33.3%;
		position: relative;
		height: 390px;
		overflow: hidden;
		
		&:hover .info,
		&:focus .info,
		&:active .info  {
			opacity: 1;
		}
		&:hover .price,
		&:focus .price,
		&:active .price {
			opacity: 0;
		}
	}
	&__img {
		height: 100%;
	}
	
	
}

.price {
	position: absolute;
	top: 35px;
	left: 25px;
	z-index: 1;
	&__text {
		font-size: 20px;  
		text-transform: uppercase;
		display: block;
		color: $primary-color;

	}

	&__num {
		color: $primary-color;
		font-weight: 800;
		font-size: 35px;

		&:before {
			content: "\20AC";
			color: $accent-color;
			font-weight: 800;
			font-size: 25px;
		}
	}
}

.info {
	position: absolute;
	bottom: 0;
	left:0;
	right:0;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 35px 25px;
	opacity: 0;
	transition: all 0.5s ease;
	&__country {
		font-size: 23px;
		color: $accent-color;
		display: inline-block;
		text-transform: uppercase;
		
	}
	&__desc {
		font-size: 34px;
		text-transform: uppercase;
		color: #3f3e41;
		display: inline-block;
		font-weight: 800;
		line-height: 1;
		max-height: 238px;
    	overflow: hidden;
    	word-wrap:  break-word;
	}
	&__link {
		text-transform: uppercase;
		color: #3f3e41;
		font-size: 14px;
		text-decoration: none;
		transition: all 0.25s ease;
		display: inline-block;
		align-self: flex-end;
		margin-right: 20px;
		
		&:before {
			content: "";
		    width: 0; 
		    height: 0;
		    font-size: 0px;
		    vertical-align: middle;
		    border-top: 5px solid transparent;
		    border-bottom: 5px solid transparent;
		    border-left: 10px solid $accent-color;
		    margin-right: 10px;
		}
		&:hover,
		&:focus,
		&:active {
			color: $accent-color;
		}
	}
	&:before {
		content: "";
		width: 0; 
		height: 0;
		font-size: 0px;
		vertical-align: middle;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-bottom: 10px solid rgba(255, 255, 255, 0.9);
		position: absolute;
		top: -10px;
    
	}
}

.btn {
	padding: 15px 40px;
	background-color: $second-accent-color;
	color:  $primary-color;
	border: 1px solid $second-accent-color;

	&:hover,
	&:active,
	&:focus {
		background-color: #424243;
		
	}
}
// --------------BEST-OFFERS------------
.section-offer {
	position: relative;
}

.best {
	font-size: 30px;
	font-family: 'kaushan_scriptregular', sans-serif;
	color: $primary-color;
	margin-bottom: 55px;
	position: absolute;
	top: 115px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 1;
}

.offer {
	padding: 200px 150px 80px;
	max-height: 950px;
	text-align: center;
	background-color: #903f56;
}

.trip {
	width: 770px;
	height: 218px;
	display: flex;
	margin: 110px auto;
	position: relative;
	font-size: 0;
	&__price {
		display: flex;
   		flex-direction: column;
		max-width: 30%;
		background-color: #424243;
		padding: 97px 20px 32px;
	}
	&__text {
		@extend .price__text;
	}

	&__cost {
		
	}

	&__num {
		@extend .price__num;
		color: $accent-color;
		font-size: 60px;
		line-height: 1;
		&:before {
			color: $primary-color;
		}
	}
	&__about {
		display: flex;
   		flex-direction: column;
		text-align: left;
		max-width:  70%;
		padding: 35px 180px 35px 30px;
		background-color: rgba(255, 255, 255, 0.9);
		.info__country {
			margin-bottom: 25px;
		}
		.text--norm {
			max-height: 72px;
			overflow: hidden;
		}
	}
	&__img {
		position: absolute;
		position: absolute;
	    left: 100%;
	    top: -15%;
	    transform: translate(-50%);
	    z-index: 2;
	}
	>.info__link {
		position: absolute;
		right: 0;
		bottom: -15%;
		z-index: 5;
		margin-right: 0;
	}
	&--hot {
		margin: 0;
		.trip__about{
			height: 250px;
			float: left;
		}
		.trip__price {
			height: 250px;
			padding: 10px 50px 30px 30px;
		    justify-content: space-around;
		}
	}
}

.offer,
.banner {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.slick-arrow {
	position: absolute;
	bottom: 5%;
	z-index: 5;
	width: 60px;
	height: 60px;
	border: none;
	font-size: 0;
	transition: all 0.25s ease;
	&:before {
		content: "";
		width: 0; 
		height: 0;
		font-size: 0px;
		vertical-align: middle;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-right: 5px solid rgba(255, 255, 255, 0.9);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
}

.slick-prev {
	left: calc(90% - 60px);
	background-color: #545357;
	&:hover,
	&:active {
		background-color: #424243;
	}
	&:focus {
		outline: none;
	}

}

.slick-next {
	left: 90%;
	background-color: $accent-color;
	&:before {
		transform: translate(-50%, -50%) rotate(180deg);
	}
	&:hover,
	&:active {
		background-color: #f93b1c;
	}
	&:focus {
		outline: none;
	}
}

.banner {
	padding: 120px 0;
}
// ---------HOT OFFERS---------------
.hot {
	position: relative;
	min-height: 770px;
	padding-top: 75px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	> .container {
		min-height: 770px;
		align-items: flex-end;
	}
	
}

.departures {
	width: 270px;
	padding: 30px;
	background-color: $accent-color;
	color: $primary-color;
	position: relative;
	align-self: flex-start;
	span {
	   display: block;
	}
	 
	&__title {
		font-size: 38px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1;
		margin-bottom: 65px;
	}
	&__info {
		font-size: 12px;
		text-transform: uppercase;
		
	}
	&__time {
		font-size: 23px;
		line-height: 1;
	}
	&__quantity {
		font-size: 23px;
		font-weight: 700;
	}
}

.box {
	position: relative;
	align-self: flex-start;
	z-index: 1;
	&:after {
		content: "";
		background-color: $primary-color;
		display: block;
		position: absolute;
		height: 100%;
		width: 95%;
	    top: 0;
	    left: 0;
	    transform-origin: 0 100%;
  		transform: skew(0, 5deg);
	    z-index: -1;
	}
}

.hot__bottom {
	height: 60px;
	padding: 0 200px 0 20px;
	display: flex;
	justify-content: space-between;
	background-color: #ededed;
	.mark {
		height: 100%;
		padding: 20px 35px;
		background-color: $accent-color;
		color: $primary-color;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
		position: relative;
		&:after{
			content: "";
		    width: 1px;
		    height: 11px;
		    position: absolute;
		    left: 0px;
		    top: -101px;
		    border: 81px solid transparent;
		    border-bottom: 9px solid #fd5c08;

		}
	}
	.info__link {
		padding: 20px 0;
		font-weight: 700;
	}
}


.slider-hot {
	width: 770px;
	display: block;
	margin: 110px 20px 0 0;
	position: relative;

	> .slick-arrow {
       	bottom: -143px;
       }
    .slick-next {
       	left: 95%;
    }
	.slick-prev {
		left: calc(95% - 60px);
	}
}


// --------------MAP-----------
#map {
	height: 600px;
}

// ----------FOOTER-----------
.footer {
	padding: 65px 0 40px;
	background-color: $accent-color;
	.container {
		display: flex;
	}
	
	.logo {
		position: relative;
		&:after {
			content: '\00a9';
			position: absolute;
			top: -2px;
    		right: 0;
    		font-size: 10px;
    		color: #424243;
		}

	}
	
}

.socials,
.company {
	flex-basis: 50%;
	max-width: 50%;
	color: $primary-color;
}

.company {

	text-align: right;
	font-size: 10px;
	
	a {
		color: $primary-color;
		text-decoration: none;
		transition: all 0.25s ease;
		&:hover,
		&:focus,
		&:active {
			color: #424243;
		}
	}
	&__about{
		margin: 15px 0;
		text-transform: uppercase;
		line-height: 1;
	}
}

.sign a {
	font-weight: 700;
}

.social {
	display: flex;
	margin-right: 20px; 
	margin-bottom: 35px;
	
	&__item {
		
		width: 50px;
		height: 50px;
		background-color: #424243;
		position: relative;
		margin-right: 20px;
		transition: all 0.25s ease;
		&:hover,
		&:focus,
		&:active {
			background-color: $primary-color;
			&:after {
				background-color: #424243;
			}
			 svg {
				stroke: #424243;
				fill: #424243;
			}
		}
		&:after {
			content: "";
			background-color: $primary-color;
			display: block;
			position: absolute;
			height: 100%;
			width: 95%;
		    top: 0;
		    left: 0;
		    transform-origin: 0 100%;
	  		transform: skew(0, 5deg);
		    z-index: -1;

		}
	}

	&__link {
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
	
	}
}

.back {
	position: relative;
	z-index: 1;
}


.rights {
	font-size: 10px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .menu,
    .menu__item {
  
  		display: inline-block;
  }

 	.menu__item {
	  	padding-top: 15px;
	}

    .places__header {
		display: inline-block;
		font-size: 0;
    }

	.places__header-item {
		display: inline-block;
		width: 50%;
	}

	.places .container,
	.title {
		display: block;
	}
	.text {
		width: 100%;
	}
}